<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .login-container {
            width: 50vh;
            height: 50vh;
            margin: auto;
            margin-top: 10rem;
            padding: auto;
            background-color: rgb(0, 182, 189);
            padding-top: 10rem;
            border-radius: 2rem;
        }

        .form-body {
            width: 80%;
            margin: auto;
            padding: auto;
            display: flex;
            flex-direction: column;
            gap: 1rem;

        }

        .login-input {
            height: 3rem;
            border: none;
            font-size: 1.5rem;
            border-radius: 1rem;
            padding-left: 1rem;
        }

        .login-button {
            border: none;
            width: 6rem;
            height: 2rem;
            border-radius: 1rem;
            margin: auto;
            padding: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="login-container">
            <!-- Form submit thông tin đăng nhập qua route post /signin-->
            <form action="/signin" class="form-body" method="post">
                <label for="username">Username</label>
                <input class="login-input" id="username" name="username" type="text" required>
                <label for="password">Password</label>
                <input class="login-input" type="password" name="password" id="password" required>
                <!-- Hiển thị thông báo lỗi hoặc đăng nhập thành công nếu có -->
                <% if (typeof message !=='undefined' ) { %>
                    <p>
                        <%= message %>
                    </p>
                    <script>
                        console.log('<%= message %>')
                    </script>
                    <% } %>
                    <!-- Nút submit form -->
                        <button class="login-button" type="submit">Login</button>
                        <a href="/signup">Sign up an account</a>
            </form>
        </div>
    </div>
</body>
<script defer>
</script>

</html>